{:paths []
 :main "main.lg"
 :lg-version "f26eb497299760e93ce430302f13ab3a954eab64"
 :lg-runtime :built
 :targets {:bin {:out "bin/app"}}

 :deps {abogoyavlensky/letgo-wails
        {:git/url "https://github.com/abogoyavlensky/letgo-packages"
         :git/tag "wails-v0.1.0"
         :deps/root "wails"}}}
