{:deps {sqlite {:git/url "https://github.com/abogoyavlensky/sqlite-lg"
                :git/sha "a416b236ead0e2982b7858071e48d92843300ffc"}
        honeysql {:git/url "https://github.com/seancorfield/honeysql"
                  :git/tag "v2.7.1388"}}
 :main "main.lg"}
